@model TopicNode

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>TopicNode</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="CreateOn" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreateOn" class="form-control" />
                <span asp-validation-for="CreateOn" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NodeName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NodeName" class="form-control" />
                <span asp-validation-for="NodeName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Order" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ParentId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ParentId" class="form-control" />
                <span asp-validation-for="ParentId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

