@{
    ViewData["Title"] = ".NET Core 跨平台论坛介绍";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    .NET Core 开发<br />
    VS Code 或者 VS 2019<br />
    <h3>论坛系统介绍：</h3>
    系统开发：<br />
    ASP.NET Core + EF Core Sqlite + Bootstrap <br />
    运行环境：<br />
    Ubuntu 16.04 + Kestrel+Nginx <br /><br />
    博客介绍：
    <a href="http://www.cnblogs.com/linezero/" target="_blank">
        LineZero's Blog
    </a><br />
    服务器时间：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
</p>
