body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family:"微软雅黑",'Microsoft YaHei';
    background:#e9eaed;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav > li > a{color:#333;}
.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-brand:focus.navbar-inverse .navbar-nav > li > a:hover{color:#333;}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color:#333;
  background-color: transparent;
}
.navbar-inverse{background-color:#fff;box-shadow:0 1px 1px rgba(0,0,0,0.11);border:0px;}
.topics{margin-top:20px;}
.topics .panel-body{padding:0px 10px;}
.topic{min-height:68px;border-bottom:1px solid #F0F0F0;padding:10px 15px;}
.topic .count{width:100px;padding-top:15px;text-align:center;}
.topic .count a{min-width:32px;line-height:11px;padding:3px 8px;background-color:#337ab7;color:#fff;border-radius:60px;text-decoration:none;display:inline-block;}
.avatar{float:left;}
.avatar-48 {
    height:48px;
    width:48px;
    max-width:48px;
    border-radius:120px;
}
.title{font-size:18px;margin-bottom:0px;margin-top:0px;}
.title a{line-height:28px;}
.info{color:#ABA8A6;margin-bottom:0px;margin-top:0px;font-size:13px;}
.node-list .node{margin-bottom:10px;margin-top:0px;}
.node-list .node .media-left{min-width:130px;font-weight:normal;text-align:right;color:#aaa;float:left;}
.node-list .node .name {margin-bottom:10px;width:100px;display:block;float:left;text-align:left;}
#sections .panel-body{padding:15px;}
.topic-detail{margin-bottom:15px;}
.topic-detail h1{font-size:24px;}
.topic-detail .avatar{float:right;}
.items.panel-body{padding:0px 15px;}
.reply:last-child{border-bottom:0px;}
.reply{border-bottom:1px solid #eee;}
.reply{margin:0px -15px;padding:15px 15px;position:relative;padding-left:74px;}
.reply .avatar{position:absolute;top:15px;left:15px;}
.reply .infos{min-height:48px;}
.reply .info{margin-bottom:6px;}
.reply .markdown{position:relative;line-height:1.8em;text-overflow:ellipsis;word-wrap:break-word;}
.panel-footer{padding:6px 15px;}
.pagination{margin:0px;}
img {
    max-width:100%;height:auto;
}
.avatar-96 {
    height: 96px;
    width: 96px;
    border-radius: 120px;
}

.recent-topics ul li .title,
.recent-replies ul li .title {
    font-size: 14px;
}

.recent-topics ul li .info {
    font-size: 12px;
}

.recent-topics ul li .node {
    color: #777;
    margin-right: 3px;
}